.mensaje-pyodide {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    margin: 2em 0;
    padding: 0.55em 1.2em;
    border-radius: 0.4em;
    max-width: 300px;
    word-break: break-word;
    box-shadow: 0 1px 6px -2px #0002;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mensaje-pyodide.info {
    background: #e7f3ea;
    color: #215a2c;
    border-left: 6px solid #3eaa37;
}

.mensaje-pyodide.ok {
    background: #e8f9f0;
    color: #236b3b;
    border-left: 6px solid #47c154;
}

.mensaje-pyodide.error {
    background: #ffeaea;
    color: #c0392b;
    border-left: 6px solid #e74c3c;
}